{{#each contacts}}
    <li class="contacts__el search-result">
        <div class="contacts__userpick"></div>
        <div class="contacts__text">
            <div class="space-between">
                <span class="contacts__name">{{name}}</span>
            </div>
        </div>
    </li>
{{/each}}