<div class="scroll-wrap">
    <span class="chat__date">19 июня</span>
    <div class="message">
        <div class="text">
            <div class="message__el">
                <p>
                    Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.
                    <br/>
                    <br/>
                    Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.
                </p>
                <span class="time">11:56</span>
            </div>
        </div>
        <div class="image">
            <div class="message__el ">
                <img src="../../../static/img/img--char.jpg" alt="">
                <span class="time">11:56</span>
            </div>
        </div>
    </div>

    <div class="message own">
        <div class="text">
            <div class="message__el">
                <p>
                    Круто!
                </p>
                <span class="time readed">11:56</span>
            </div>
        </div>
    </div>
</div>