<div class="chat__attachment menu-wrap {{#if showMenu}} show {{/if}}">
    <span class="icon-clip"></span>
    <div class="menu">
        <button class="no-style js--add-interlocutor">
            <span class="icon-media c-blue"></span>
            <span>Фото или Видео</span>
        </button>
        <button class="no-style js--remove-interlocutor">
            <span class="icon-file c-blue "></span>
            <span>Файл</span>
        </button>
        <button class="no-style js--remove-interlocutor">
            <span class="icon-location c-blue "></span>
            <span>Локация</span>
        </button>
    </div>
</div>

{{{input}}}

<button type="submit" class="no-style send-message">
    <span class="icon-arrow-right"></span>
</button>