<div class="chat__interlocutor">
    <div class="contacts__userpick"></div>
    <span class="contacts__name fw-600">Вадим</span>
</div>
<div class="chat__settings menu-wrap {{#if showMenu}} show {{/if}}">
    <button class="no-style js--toggle-interlocutor-menu">
        <span class="icon-ellipsis"></span>
    </button>
    <div class="menu">
        <button class="no-style js--add-interlocutor">
            <span class="icon-plus c-blue"></span>
            <span>Добавить пользователя</span>
        </button>
        <button class="no-style js--remove-interlocutor">
            <span class="icon-remove c-blue "></span>
            <span>Удалить пользователя</span>
        </button>
    </div>
</div>
