<div class="chat__interlocutor">
    <div class="contacts__userpick"></div>
    <span class="contacts__name fw-600">{{first_name}}</span>
</div>
<div class="chat__settings menu-wrap {{#if showMenu}} show {{/if}}">
    {{{buttonAddUser}}}
    {{{buttonToggleMenu}}}
    <div class="menu">
        <button class="no-style js--add-interlocutor">
            <span class="icon-plus c-blue"></span>
            <span>Добавить пользователя</span>
        </button>
        <button class="no-style js--remove-interlocutor">
            <span class="icon-remove c-blue "></span>
            <span>Удалить пользователя</span>
        </button>
    </div>
</div>

{{{modalAddUser}}}
