<div class="settings-modal open">
    <button class="close-settings">
        <span class="icon-arrow-left"></span>
    </button>
    <div class="settings">
        <div class="settings__content">
            <div class="settings__userpick">
                <button  class="no-userpick">
                    <span class="icon-media"></span>
                </button>
                <span class="settings__name"></span>
            </div>
            {{{form}}}
        </div>
    </div>
</div>